appdirs==1.4.4
distlib==0.3.1
fastapi==0.62.0
filelock==3.0.12
importlib-metadata==3.3.0
Pillow==8.0.1
pydantic==1.7.3
six==1.12.0
starlette==0.13.6
typing-extensions==3.7.4.3
uuid==1.30
virtualenv==20.2.2
zipp==3.4.0
