.upload-button button {
  position: absolute;
  width: 246px;
  height: 80px;
  left: 606px;
  top: 649px;

  background: #9611ff;
  border: 3px solid #9611ff;
  box-sizing: border-box;
  border-radius: 70px;
}

.upload-modal {
  position: absolute;
  width: 884px;
  height: 678px;
  left: 273px;
  top: 245px;

  border: 3px solid #9611ff;
  box-sizing: border-box;
  border-radius: 20px;
}
