
.all{
    padding-top: 2%;
    padding-bottom: 6%;
}

.paper { 
    width: 40%;
    border: 3px solid #9611ff;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
}

.search-icon{
    color: #9611ff;
    text-align: center;
    cursor: pointer;
}


.slider{
    width: 70%;
    height: 70%;
    margin: auto;
    padding-top: 4em;
    position: relative;
}

.paper2{
    margin: auto;
    width:70%;
    height: 40%;
    border: 3px solid #9611ff;
    box-sizing: border-box;
}

.MuiCardMedia-root{
    margin: auto;
    padding-top: 4%;
    padding-right: 9%;
    padding-left: 9%;
}

.MuiCardMedia-root img{
    width: 35rem;
    margin: auto;
    max-width: 100%;
    padding-right: 3%;
    padding-left: 3%;
}

.caption-card{
    text-align: center;
    justify-content: center;
}

.tags-card{
    text-align: center;
    justify-content: center;
}

.slick-prev::before, .slick-next::before {
    color: #668389;
}

.slick-prev {
    top: 50%;
    left: 18%;
    z-index: 10;
}

.slick-next {
    top: 50%;
    right: 19.8%;
    z-index: 10;
}

.slick-next::before {
    font-size: 3.2vw;
    content: "▶";
}

.slick-prev::before {
    font-size: 3.2vw;
    content: "◀";
}

