/* the width of these 3 have to be the same */
.introslider-wrapper{
    padding-bottom: 2em;
}

.slider2 {
    width: 40em;
    height: 30em;
    border-radius: 5px;
    margin: auto;
}

.paper-slider2{
    width: 40em;
    margin: auto;
    border-radius: 5px;
}

.paper-slider2 img{
    width: 40em;
    border-radius: 5px;
}