.slider2 {
    width: 40em;
    height: 30em;
    margin: auto;
    border-radius: 5px;
}

.paper-slider2{
    width: 40em;
    margin: auto;
    border-radius: 5px;
}

.paper-slider2 img{
    width: 40em;
    border-radius: 5px;
}